<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/background.css}" rel="stylesheet">
    <link th:href="@{/css/error.css}" rel="stylesheet">
</head>
<body>
<div class="black-box">
    <div class="container" style="max-width: 600px">
        <div class="py-5 text-center">
            <h2 class="retro-title" th:text="${status} + ' ERROR - CLIENT ERROR'">4xx ERROR - CLIENT ERROR</h2>
            <p class="retro-description">
                The server could not process your request.
            </p>
            <p class="error-message">
                Sorry, there was an issue with your request.
            </p>
        </div>
    </div>
    <hr class="my-4">
</div> <!-- /container -->
</body>
</html>
