.py-5 {
    font-family: 'Press Start 2P', cursive;
    color: #39FF14;
}

h4 {
    font-family: 'Press Start 2P', cursive;
    color: #39FF14;
}
p {
    color: seashell;
}
li {
    color: seashell;
}
hr {
    color: #39FF14;
}
.bi-dash-circle {
    cursor: pointer;
}
.col {
    font-family: 'Press Start 2P', cursive;
}
.btn-primary {
    font-family: 'Press Start 2P', cursive;
}