.navbar-avatar {
    display: flex;
    float: right;
}

.avatar-image {
    width: 40px; /* 원하는 이미지 너비 조정 */
    height: 40px; /* 원하는 이미지 높이 조정 */
    border-radius: 50%; /* 동그라미 모양으로 만듭니다. */
    margin-right: 10px; /* 이미지와 닉네임 사이 간격 조정 */
}

.navbar-brand {
    color: #333;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}