<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <link th:href="@{/css/background.css}" rel="stylesheet">
    <style>
        .col {
            font-family: 'Press Start 2P', cursive;
        }

        .py-5 {
            color: #39FF14;
            font-family: 'Press Start 2P', cursive;
        }

        .container {
            max-width: 560px;
        }

        li {
            color: seashell;
        }

        hr {
            color: #39FF14;
        }

        span {
            color: seashell;
        }

        h4 {
            color: seashell;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container" style="max-width: 600px">
        <a class="navbar-brand" href="/">TECH INTERVIEW DEFENSE</a>
        <div class="navbar-avatar">
            <a href="/myPage">
                <img th:src="${user.imageUrl}" alt="프로필 사진" class="avatar-image">
            </a>
        </div>
    </div>
</nav>
<div class="black-box-myPage">
    <div class="container" style="max-width: 600px">
        <div class="py-5 text-center">
            <h2>TECH INTERVIEW DEFENSE</h2>
        </div>
        <hr class="my-4">
        <table class="table">
            <tbody>
            <tr th:each="chatMessage : ${chatMessages}">
                <td>
                    <img th:if="${chatMessage.sender == T(dev.soon.interviewdefense.chat.domain.ChatSender).USER}"
                         th:src="${user.imageUrl}" alt="프로필 사진" class="avatar-image">
                    <img th:if="${chatMessage.sender == T(dev.soon.interviewdefense.chat.domain.ChatSender).AI}"
                         th:src="@{/image/interview-defense-logo2.png}" alt="프로필 사진" class="avatar-image">
                    <span th:text="${chatMessage.message}" style="white-space: pre-line;"></span>
                </td>
            </tr>
            <tr class="message-separator">
                <td></td>
            </tr>
            </tbody>
        </table>
        <div class="col-md" id="chat-output" style="white-space: pre-line;"></div>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-8">
                <h4>Chat Message:</h4>
                <label>
                    <textarea type="text" id="user-input" rows="4" class="form-control"
                              placeholder="question please!" style="width: 580px;"></textarea>
                </label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.send}" id="send-button">
                    제출하기
                </button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-success btn-lg" type="submit" th:text="#{button.deep}"
                        id="deep-button">
                    연관질문
                </button>
            </div>
        </div>
        <hr>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='chatRoom.html'"
                    th:onclick="|location.href='@{/}'|"
                    type="button" th:text="#{button.cancel}">취소
            </button>
        </div>
    </div>
</div>
</body>
</html>

<!-- WebSocket 연결 및 메시지 수신 스크립트 -->
<script>
    const chatOutput = document.getElementById('chat-output');
    const userInput = document.getElementById('user-input');
    const sendButton = document.getElementById('send-button');
    const relativeButton = document.getElementById('deep-button');
    const socket = new WebSocket('ws://localhost:8080/v1/chat');

    socket.onmessage = (event) => {
        const message = JSON.parse(event.data);
        if(message == null) {
            location.reload();
            return;
        }
        chatOutput.innerHTML += `<span>${message}</span>`;
    };

    sendButton.addEventListener('click', () => {
        const userMessage = userInput.value;
        const currentPath = window.location.pathname;
        const pathSegments = currentPath.split('/');
        const chatId = pathSegments[pathSegments.length - 1] + '%generalQ%';
        if (userMessage.trim() !== '') {
            // 사용자 입력을 WebSocket 을 통해 서버로 전송
            socket.send(chatId + userMessage);

            // 입력한 메시지를 화면에 표시
            chatOutput.innerHTML += `<p style="color: seashell">Q: ${userMessage}</p>`;

            // 입력 필드 초기화
            userInput.value = '';
        }
    });

    relativeButton.addEventListener('click', () => {
        const currentPath = window.location.pathname;
        const pathSegments = currentPath.split('/');
        const chatId = pathSegments[pathSegments.length - 1] + '%deepQ%' + "에서 탐구할만한 질문들을 추천해주세요";
        // 사용자 입력을 WebSocket 을 통해 서버로 전송
        socket.send(chatId);
        // 입력한 메시지를 화면에 표시
        chatOutput.innerHTML += `<p style="color: seashell">Q: 연관질문 추천</p>`;
    });
</script>