<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <link th:href="@{/css/background.css}" rel="stylesheet">
    <style>
        .py-5 {
            color: #39FF14;
            font-family: 'Press Start 2P', cursive;
        }
        .col {
            color: #39FF14;
            font-family: 'Press Start 2P', cursive;
        }
        .spinner-border {
            color: #39FF14;
        }
        hr {
            color: #39FF14;
        }
        h4 {
            color: #39FF14;
            font-family: 'Press Start 2P', cursive;
        }
        span {
            color: seashell;
        }
        .score-board {
            color : #39FF14;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container" style="max-width: 600px">
        <a class="navbar-brand" href="/">TECH INTERVIEW DEFENSE</a>
        <div class="navbar-avatar">
            <a href="/myPage">
                <img th:src="${user.imageUrl}" alt="프로필 사진" class="avatar-image">
            </a>
        </div>
    </div>
</nav>

<div class="black-box-myPage">
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>TECH INTERVIEW DEFENSE</h2>
    </div>
    <hr class="my-4">
    <table class="table">
        <tbody>
        <tr th:each="chatMessage : ${chatMessages}">
            <td>
                <img th:if="${chatMessage.sender == T(dev.soon.interviewdefense.chat.domain.ChatSender).USER}"
                     th:src="${user.imageUrl}" alt="프로필 사진" class="avatar-image">
                <img th:if="${chatMessage.sender == T(dev.soon.interviewdefense.chat.domain.ChatSender).AI}"
                     th:src="@{/image/btnG_아이콘원형.png}" alt="프로필 사진" class="avatar-image">
                <span th:text="${chatMessage.message}" style="white-space: pre-line;">메세지</span>
            </td>
        </tr>
        <tr class="message-separator">
            <td></td>
        </tr>
        </tbody>
    </table>
    <div class="spinner-border" role="status" id="response-spinner" style="display: none"></div>
    <form action="chatRoom.html" th:action th:object="${chatMessageDto}" method="post" onsubmit="sendMessage()">
        <div class="row" th:if="${chat.aiQuestionsMaxNumber > 0}">
            <div class="col-md-8">
                <h4>SCORE: <span class="score-board" th:text="${chat.defenseScore}"></span></h4>
                <h4>Chat Message:</h4>
                <label>
                    <textarea type="text" id="chatMessage" th:field="*{message}" rows="4"
                              class="form-control" placeholder="question please!" style="width: 580px;">
                    </textarea>
                </label>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.send}" id="send-button">
                    제출하기
                </button>
            </div>
            <div class="col">
                <div class="col">
                    <button class="w-100 btn btn-secondary btn-lg"
                            onclick="location.href='chatRoom.html'"
                            th:onclick="|location.href='@{/}'|"
                            type="button" th:text="#{button.cancel}">취소
                    </button>
                </div>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</div>
</body>
</html>

<script>
    function sendMessage() {
        // 응답 스피너 표시
        const spinner = document.getElementById("response-spinner");
        spinner.style.display = "flex";

        // 메시지를 서버로 보내는 AJAX 요청을 만듭니다.
        const message = document.getElementById("chatMessage").value;
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/sendMessageToDefense", true); // 서버로 메시지를 보내는 엔드포인트 설정

        // AJAX 요청이 완료되었을 때 실행되는 콜백 함수
        xhr.onload = function () {
            if (xhr.status === 200) {
                // 성공적으로 응답을 받았을 때 처리하는 코드
                const responseArea = document.getElementById("response-spinner");
                responseArea.innerHTML = xhr.responseText;
                // 몇 초 후에 응답 메시지 영역을 숨김 (예: 2초 후)
                setTimeout(function () {
                    responseArea.style.display = "none";
                }, 2000); // 2초 후에 숨김
            } else {
                // 오류 처리
                console.error("서버 오류: " + xhr.status);
            }
        };

        xhr.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        const requestData = JSON.stringify({message: message});
        xhr.send(requestData);
    }
</script>
