<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <link th:href="@{/css/background.css}" rel="stylesheet">
    <style>
        h4 {
            color: #39FF14;
            font-family: 'Press Start 2P', cursive;
        }

        tr {
            color: #f0f0f0;
        }
        .retro-description {
            font-family: 'Press Start 2P', cursive;
            font-size: 18px;
            color: #39FF14;
            margin-top: 10px;
        }
        .col {
            font-family: 'Press Start 2P', cursive;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container" style="max-width: 600px">
        <a class="navbar-brand" href="/">TECH INTERVIEW DEFENSE</a>
        <div class="navbar-avatar">
            <a href="/myPage">
                <img th:src="${user.imageUrl}" alt="프로필 사진" class="avatar-image">
            </a>
        </div>
    </div>
</nav>

<div class="black-box">
<div class="container" style="max-width: 600px">
    <!-- 나머지 내용을 이어서 추가할 수 있습니다. -->
    <div class="py-5 text-center">
            <h2 class="retro-description">
                An AI Mentoring And Deep Dive with Tech Specialist
            </h2>
    </div>

    <h4>MY CHAT ROOM</h4>
    <table class="table">
        <thead>
        <tr>
            <th th:text="#{label.chat.topic}">주제</th>
            <th th:text="#{label.chat.createdAt}">시작일</th>
            <th th:text="#{label.chat.enter}">입장</th>
            <th th:text="#{label.chat.delete}">채팅방삭제</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="chat : ${chats}">
            <td th:text="${chat.topic}">주제</td>
            <td th:text="${#temporals.format(chat.createAt,'yyyy-MM-dd HH:mm')}">시작일</td>
            <td>
                <a th:href="@{/chat/{chatId}(chatId=${chat.id})}" class="btn btn-primary btn-sm" role="button">입장</a>
            </td>
            <td>
                <form th:action="@{/chat/{chatId}/delete(chatId=${chat.id})}" method="post">
                    <button type="submit" class="btn btn-warning btn-sm" onclick="return confirm('채팅을 삭제하시겠습니까?')">
                        DELETE
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col">
            <a th:href="@{/chat/create}" class="w-100 btn btn-primary btn-lg" th:text="#{button.start.mentoring}">MENTORING
                START</a>
        </div>
    </div>
</div> <!-- /container -->
</div>
</body>
</html>
