<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/navbar.css}" rel="stylesheet">
    <link th:href="@{/css/background.css}" rel="stylesheet">
    <style>
        .py-5 {
            font-family: 'Press Start 2P', cursive;
            color: #39FF14;
        }

        h4 {
            font-family: 'Press Start 2P', cursive;
            color: #39FF14;
        }
        p {
            color: seashell;
        }
        li {
            color: seashell;
        }
        hr {
            color: #39FF14;
        }
        .bi-dash-circle {
            cursor: pointer;
        }
        .col {
            font-family: 'Press Start 2P', cursive;
        }
        .btn-primary {
            font-family: 'Press Start 2P', cursive;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container" style="max-width: 600px">
        <a class="navbar-brand" href="/">TECH INTERVIEW DEFENSE</a>
        <div class="navbar-avatar">
            <a href="/myPage">
                <img th:src="${user.imageUrl}" alt="프로필 사진" class="avatar-image">
            </a>
        </div>
    </div>
</nav>

<div class="black-box-myPage">
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>My Page Update</h2>
    </div>
    <hr class="my-4">
    <!-- 사용자 정보 표시 및 수정 폼 -->
    <form action="myPageUpdateForm.html" th:action th:object="${user}" method="post">
        <div class="row">
            <div class="col-md-6">
                <h4>Email:</h4>
                <p th:text="${user.email}"></p>
            </div>
            <div class="col-md-6">
                <h4>Nickname:</h4>
                <input type="text" th:value="${user.nickname}" th:field="*{nickname}" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Social Login Type:</h4>
                <p th:text="${user.snsType}"></p>
            </div>
            <div class="col-md-6">
                <h4>Position:</h4>
                <select class="form-control" th:field="*{position}">
                    <option th:each="position : ${T(dev.soon.interviewdefense.user.domain.Position).values()}"
                            th:value="${position}" th:text="${position.getValue()}"></option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Language:</h4>
                <ul>
                    <li th:each="language : ${myLanguages}">
                        <span th:text="${language.name.value}"></span>
                        <span class="remove-language" th:data-id="${language.id}" onclick="removeLanguage(this.getAttribute('data-id'))">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
    </svg>
                        </span>
                    </li>
                </ul>
                <select class="form-control" id="language-select">
                    <option th:each="language : ${T(dev.soon.interviewdefense.user.domain.LanguageName).values()}"
                            th:value="${language}" th:text="${language.value}"></option>
                </select>
                <button type="button" class="btn btn-primary mt-2" onclick="addLanguage()">Add Language</button>
            </div>
            <div class="col-md-6">
                <h4>Year Of Work Experience:</h4>
                <input type="text" th:value="${user.yearOfWorkExperience}" th:field="*{yearOfWorkExperience}" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4>Tech:</h4>
                <ul>
                    <li th:each="tech : ${myTechs}">
                        <span th:text="${tech.name.value}"></span>
                        <span class="remove-tech" th:data-id="${tech.id}" onclick="removeTech(this.getAttribute('data-id'))">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
    </svg>
                        </span>
                    </li>
                </ul>
                <select class="form-control" id="tech-select">
                    <option th:each="tech : ${T(dev.soon.interviewdefense.user.domain.TechName).values()}"
                            th:value="${tech}" th:text="${tech.value}"></option>
                </select>
                <button type="button" class="btn btn-primary mt-2" onclick="addTech()">Add Tech</button>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <button type="submit" class="w-100 btn btn-primary btn-lg" th:text="#{button.update}">UPDATE</button>
            </div>
            <div class="col">
                <a th:href="@{/myPage}" class="w-100 btn btn-secondary btn-lg" th:text="#{button.cancel}">CANCEL</a>
            </div>
        </div>
    </form>
</div> <!-- /container -->
</div>
</body>
</html>

<script>
    function addLanguage() {
        const selectElement = document.getElementById("language-select");
        const selectedOption = selectElement.options[selectElement.selectedIndex];

        if (selectedOption) {
            const selectedValue = selectedOption.value;

            const dto = {
                name: selectedValue
            };

            fetch(`/myPage/languages/add`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(dto),
            })
                .then(response => {
                    if (response.status === 200) {
                        console.log('언어 추가 성공');
                        location.reload();
                    } else {
                        console.error('언어 추가 실패');
                    }
                })
                .catch(error => {
                    console.error('에러 발생:', error);
                });
        }
    }

    function removeLanguage(languageId) {
        fetch(`/myPage/languages/${languageId}/delete`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then(response => {
                if (response.status === 200) {
                    console.log('언어 삭제 성공');
                    location.reload();
                } else {
                    console.error('언어 삭제 실패');
                }
            })
            .catch(error => {
                console.error('에러 발생:', error);
            });
    }

    function addTech() {
        const selectElement = document.getElementById("tech-select");
        const selectedOption = selectElement.options[selectElement.selectedIndex];

        if (selectedOption) {
            const selectedValue = selectedOption.value;

            const dto = {
                name: selectedValue
            };

            fetch(`/myPage/techs/add`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(dto),
            })
                .then(response => {
                    if (response.status === 200) {
                        console.log('기술 추가 성공');
                        location.reload();
                    } else {
                        console.error('기술 추가 실패');
                    }
                })
                .catch(error => {
                    console.error('에러 발생:', error);
                });
        }
    }

    function removeTech(techId) {
        fetch(`/myPage/techs/${techId}/delete`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
        })
            .then(response => {
                if (response.status === 200) {
                    console.log('기술 삭제 성공');
                    location.reload();
                } else {
                    console.error('기술 삭제 실패');
                }
            })
            .catch(error => {
                console.error('에러 발생:', error);
            });
    }
</script>
